---
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

html {
  font-size: 15px;
}

.author__name {
  display: none;
}

.author__bio {
  font-size: 0.95em;
  line-height: 1.5;
}

.author__urls-wrapper,
.author__urls,
.author__urls li,
.author__urls a {
  font-size: 0.95em;
}
